<hr>
<p class="pull-right">
    Powered by <a href="http://www.maimake.com" target="_blank">MaiMake</a>
</p>
<p>&copy; @yield('company')
    @if (date('Y') > 2013)
        2013 - {{ date('Y') }}
    @else
        2013
    @endif
    All rights Reserved.
</p>
