<?php

/**
 * @var <%= model_classname %> $<%= model_singular %>
 */

$title = $<%= model_singular %>->page_title;
$breadcrumbs[] = ['label' => '<%= model_plural %>', 'url' => route('<%= model_plural %>.index')];
$breadcrumbs[] = $title;

?>

<% if layout %>
@extends('layouts<%= layout %>.app')
<% else %>
@extends('layouts.app')
<% endif %>

@section('content')
<div class="<%= model_plural %>-show container">
    <h1>{{$title}}</h1>

    <p>
      {{--@can('Edit <%= model_name %>')--}}
      <a href="{{route('<%= model_plural %>.edit', ['id' => $<%= model_singular %>->id])}}" class="btn btn-primary">Update</a>
      {{--@endcan--}}
      {{--@can('Delete <%= model_name %>')--}}
      <a href="{{route('<%= model_plural %>.destroy', ['id' => $<%= model_singular %>->id])}}" class="btn btn-danger" data-method="DELETE" data-confirm="Are you sure you want to delete this item?">Delete</a>
      {{--@endcan--}}
    </p>

    <table class="table table-striped table-bordered">
      @foreach($<%= model_singular %>->toArray() as $key => $value)
      <tr>
        <th>{{humanize_case($key)}}</th>
        <td>@showNull($value)</td>
      </tr>
      @endforeach
    </table>
</div>
@endsection
